*{
  font-family: 'Catamaran', sans-serif;
}

:root{
  --pink: rgb(141, 46, 62);
  --lightpink: pink;
  --pinktext: rgb(14, 13, 13);
  --lightgrey: rgb(196, 194, 194);
  --lightestgrey: rgb(224, 222, 222);
}

.bg-lightestgrey{
  background-color: var(--lightestgrey);
}

.pink-text{
  color: var(--pink);
}

.lightpink-text{
  color: var(--pinktext)
}

.bg-lightgrey{
  background-color: var(--lightgrey);
}

.dog-i{
  height: 10px;
  width: 10px
}

.bg-pink{
  background-color: var(--pink);
}

.bg-lightpink{
  background-color: var(--lightpink);
}

.bg-picture{
  background-image: url(https://media.istockphoto.com/photos/funny-sleepy-pug-dog-with-gum-in-the-eye-sleep-rest-on-floor-picture-id868008896?b=1&k=20&m=868008896&s=170667a&w=0&h=Dn8XLXoH79QafXQ-2bQ29h762_JqhwJLcDWr7cA8lpI=) ;
  background-size: cover;
  min-height: 70vh;
  background-position: center;
}

.card-y{
  transform: translateY(45%);
}

.img-square{
  height: 20vw;
  width: 15vw;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 768px){
  .card-y{
    transform: translateY(0%);
  }

  .img-square{
    height: 65vw;
    width: 60vw;
    object-fit: cover;
    object-position: center;
  }
}

.img-card{
  height: 15vw;
  width: 20vw;
  object-fit: cover;
  object-position: center;
}

.height-card{
  height: 25vh;
}

.height-contact{
  height: 20vh;
  width: 20vh
}

